button {
  @include form-element-global-style;

  background-color: $btn-bg-color;
  color: $btn-color;
  cursor: pointer;
  font-weight: bold;
}

input {
  @include form-element-global-style;

  width: 100%;

  &[type='checkbox'] {
    border: 0;
    cursor: pointer;
    height: 2rem;
    margin: 0;
    padding: 0;
    position: relative;
    width: 2rem;

    &::after {
      background-color: $form-element-bg-color;
      border: .2rem solid $form-element-color;
      border-radius: $border-radius;
      color: $form-element-color;
      content: '';
      display: inline-block;
      height: 1.6rem;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.6rem;
    }

    &:checked {
      &::after {
        content: '\2714';
        font-weight: bold;
      }
    }

    &+ label {
      display: inline-block;
      margin: 0 0 0 1rem;
    }
  }
}

label {
  display: block;
  margin-bottom: $form-element-spacer;
}

select {
  @include form-element-global-style;

  width: 100%;
}
