button {
  @include form-element-global-style;

  background-color: $btn-bg-color;
  color: $btn-color;
  cursor: pointer;
  font-weight: bold;
}

input {
  @include form-element-global-style;

  width: 100%;

  &[type='checkbox'] {
    // display: inline-block;
    // width: unset;

    cursor: pointer;
    height: 2rem;
    margin: 0;
    transform: scale(1.5);
    width: 2rem;
    //visibility: hidden;

    &::after {
      background-color: $form-element-bg-color;
      border: .2rem solid $form-element-border-color;
      border-radius: $border-radius;
      color: $form-element-color;
      content: '';
      display: inline-block;
      height: 1.6rem;
      width: 1.6rem;
    }

    &:checked {
      &::after {
        content: '\2714';
        font-weight: bold;
      }
    }

    &+ label {
      display: inline-block;
      margin: 0;
    }
  }
}

label {
  display: block;
  margin-bottom: $form-element-spacer;
}

select {
  @include form-element-global-style;

  width: 100%;
}
