body {
  background-color: $body-bg;
  color: $body-color;
}

a {
  background-color: transparent;
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;

    &:not(:focus-visible) {
      outline: none;
    }
  }

  &:visited {
    color: $link-color;
  }
}

header {
  border: 0.2rem solid $color-lilac;
  border-radius: $border-radius;
  padding: 1.6rem;
}

button,
input,
select {
  border: .2rem solid $form-element-border-color;
  border-radius: $border-radius;
  color: $form-element-color;
  font-family: $form-element-font-family;
  font-size: $font-size-base;
  margin-bottom: $form-element-margin-bottom;
  padding: $form-element-padding;
}

input,
select {
  background-color: $form-element-bg-color;
  width: 100%;

  &:focus {
    border-color: $color-cyan;
    box-shadow: 0 0 0 $border-width / 4 $color-cyan;
  }
}

button {
  background-color: $btn-bg-color;
  color: $btn-color;
  cursor: pointer;
  font-weight: bold;

  &:focus {
    box-shadow: 0 0 0 $border-width $color-cyan;
  }
}

label {
  display: block;
  margin-bottom: $form-element-margin-bottom;
}

.wrapper {
  @include wrapper-max-widths;
  margin: 0 auto;
  padding: 0 3.2rem;
}
