body {
  background-color: $body-bg;
  color: $body-color;
}

a {
  background-color: transparent;
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;

    &:not(:focus-visible) {
      outline: none;
    }
  }

  &:visited {
    color: $link-color;
  }
}

header {
  border: .2rem solid $color-lilac;
  border-radius: $border-radius;
  padding: 1.6rem;
}

.wrapper {
  @include wrapper-max-widths;
  margin: 0 auto;
  padding: 0 3.2rem;
}
