body {

  @include print {
    color: $color-black;
    font-size: 8pt;
  }

  background-color: $body-bg;
  color: $body-color;
}

a {
  background-color: transparent;
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;

    &:not(:focus-visible) {
      outline: none;
    }
  }

  &:visited {
    color: $link-color;
  }
}

.no-print {

  @include print {
    display: none;
  }

}
