th {

  @include print {
    padding: 0;
  }

  font-weight: $font-weight-bold;
  padding: 1rem 0;
}

tr {
  &:not(:last-of-type) {

    @include print {
      border-bottom: 0;
    }

    border-bottom: $border-width solid $table-border-color;
  }
}

td {

  @include print {
    padding: 0;
  }

  padding: .5rem 0;
}
