@charset 'UTF-8';
// @import '../../node_modules/bootstrap/scss/bootstrap';

@import 'utils/variables';

@import 'mixins/breakpoints';

@import 'base/reset';
@import 'base/global';
@import 'base/typography';
@import 'base/forms';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/forms';

@import 'components/film-card';

@media screen {

  th,
  td {
    vertical-align: top;
  }

  th {
    padding: 10px 0;
  }

  tr {
    &:not(:last-of-type) {
      border-bottom: 1px solid $color-grey;
    }
  }

  td {
    padding: 5px 0 5px 10px;
  }

  .time {
    display: inline-block;
    padding: 5px 10px;
  }
}

@media print {
  body {
    font-family: 'Curtive Mono', monospace;
    font-size: 8pt;
  }

  header,
  footer,
  .print,
  .card-footer,
  .no-print {
    display: none;
  }

  h2 {
    font-size: 12pt;
    margin: 0;
  }

  .results {
    display: flex;
    flex-wrap: wrap;
  }

  .film {
    flex-grow: 1;
    margin-bottom: 20pt;
    margin-right: 20pt;
  }

  .time {
    padding: 0 5pt;
  }
}
