{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 2, { "MemberExpression": "off" }]
  },
  "overrides": [
    {
      "files": ["./*.js", "./*.js"],
      "excludedFiles": "./*.tmpl.js"
    }
  ]
}
