// colours
$color-grey-dark: #2c292d;
$color-grey-mid: #727272;
$color-lilac: #ab9df2;
$color-magenta: #ff6188;
$color-peach: #fc9867;
$color-lemon: #ffd866;
$color-lime: #a9dc76;
$color-cyan: #78dce8;
$color-straw: #fcfcfa;
$color-grey: #ddd;

// layout
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

$wrapper-max-widths: (
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1140px
);

$spacer: 1.6rem;

// body
$body-bg: $color-grey-dark;
$body-color: $color-straw;

// typography
$font-primary: 'Curtive Mono', monospace;
$font-size-base: 1.6rem;
$line-height-base: 1.5;

$headings-font-weight: bold;
$headings-margin-bottom: $spacer / 2;
$headings-line-height: 1.2;

$paragraph-margin-bottom: $spacer;

$hr-margin-bottom: $spacer;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// borders
$border-width: .2rem;
$border-radius: .4rem;

// links
$link-color: $color-cyan;

// forms
$form-element-bg-color: $color-grey-dark;
$form-element-border-color: $color-lime;
$form-element-color: $color-straw;
$form-element-font-family: $font-primary;
$form-element-margin-bottom: $spacer / 2;
$form-element-padding: .8rem 1.4rem;

$btn-bg-color: $color-lime;
$btn-color: $color-grey-dark;
