$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

$wrapper-max-widths: (
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1140px
);

$font-primary: 'Curtive Mono', monospace;
$font-size-base: 1.6rem;

$color-grey-dark: #2c292d;
$color-lilac: #ab9df2;
$color-magenta: #ff6188;
$color-peach: #fc9867;
$color-lemon: #ffd866;
$color-lime: #a9dc76;
$color-cyan: #78dce8;
$color-straw: #fcfcfa;
$color-grey: #ddd;
