article {
  border: .2rem solid;
  border-radius: $border-radius;
  margin-bottom: $spacer / 2;
  padding: $spacer;

  &:nth-child(2n+0) {
    border-color: $color-magenta;
  }

  &:nth-child(3n+1) {
    border-color: $color-peach;
  }

  &:nth-child(4n+1) {
    border-color: $color-lemon;
  }

  &:nth-child(5n+1) {
    border-color: $color-lime;
  }

  &:nth-child(6n+1) {
    border-color: $color-cyan;
  }

  &:nth-child(7n+1) {
    border-color: $color-lilac;
  }
}
