.film {

  @include print {
    border: 1pt solid;
    flex-grow: 1;
    margin: $spacer-print;
  }

  border: .2rem solid;
  border-radius: $border-radius;
  margin-bottom: $spacer / 2;

  &:nth-child(6n+1) {

    @include print {
      border-color: $color-grey-light;
    }

    border-color: $color-magenta;
  }

  &:nth-child(6n+2) {

    @include print {
      border-color: $color-grey-light;
    }

    border-color: $color-peach;
  }

  &:nth-child(6n+3) {

    @include print {
      border-color: $color-grey-light;
    }

    border-color: $color-lemon;
  }

  &:nth-child(6n+4) {

    @include print {
      border-color: $color-grey-light;
    }

    border-color: $color-lime;
  }

  &:nth-child(6n+5) {

    @include print {
      border-color: $color-grey-light;
    }

    border-color: $color-cyan;
  }

  &:nth-child(6n+6) {

    @include print {
      border-color: $color-grey-light;
    }

    border-color: $color-lilac;
  }

  &:last-of-type {
    margin-bottom: $spacer * 2;
  }

  &__body {
    @include print {
      padding: $spacer-print * 2;
    }

    padding: $spacer;
  }

  &__runtime {
    font-size: 1.6rem;
    font-weight: normal;
  }

  &__time {

    @include print {
      padding: $spacer-print / 2 0 $spacer-print / 2 $spacer-print * 2;
    }

    display: inline-block;
    padding: .5rem 0 .5rem 2rem;
  }

  &__footer {

    @include print {
      display: none;
    }

    align-items: center;
    border-top: inherit;
    display: flex;
    padding: $spacer;
  }
}
