@mixin form-element-global-style {
  border: .2rem solid $form-element-border-color;
  border-radius: $border-radius;
  color: $form-element-color;
  font-family: $form-element-font-family;
  font-size: $font-size-base;
  height: $form-element-height;
  line-height: $form-element-line-height;
  padding: $form-element-padding;

  &:focus {
    border-color: $color-cyan;
    box-shadow: 0 0 0 $border-width $color-cyan;
  }
}
